<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxl.hello.widget">

    <application>
        <activity android:name=".ui.web.CommonWebActivity" />
        <activity
            android:name=".ui.preview.MediaPreviewActivity"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".ui.browser.FileBrowserActivity" />
        <activity android:name=".ui.qrcode.QRCodeActivity" />
    </application>
</manifest>