<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxl.hello.widget">

    <application>
        <activity android:name=".ui.web.CommonWebActivity" />
        <activity
            android:name=".ui.preview.MediaPreviewActivity"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".ui.browser.FileBrowserActivity" />
        <activity android:name=".ui.qrcode.QRCodeActivity" />

        <activity android:name=".ui.im.message.session.privites.PrivateChatSessionActivity" />

        <activity android:name=".ui.im.message.list.MessageActivity"/>

        <activity android:name=".ui.video.VideoDownloadActivity" />

        <activity android:name=".ui.imageedit.ImageEditActivity" />

    </application>
</manifest>